$primary-bg: #F9F9F9;
$primary-text: #20262A;
$primary-border: #A5A5A5;
$primary-input: #EEEEEE;

$color-sky: #0079FB;
$color-gray: #939393;
$color-light-gray: #F1F1F1;
$color-green: #08AF58;
$color-red: #E83E38;
